<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.baseUserRole.dao.IBaseUserRoleDao"> 
	<!-- 自定义结果集 --> 
	<resultMap id="BaseResultMap" type="com.qhit.baseUserRole.pojo.BaseUserRole"> 
		<id property="urid" column="urid" javaType="java.lang.Integer"></id> 
		<result property="uid" column="uid" javaType="java.lang.Integer"></result> 
		<result property="rid" column="rid" javaType="java.lang.Integer"></result> 
	</resultMap> 
 
	<!-- 在各种标签中，id属性必须与接口中的方法名一样，id的值必须是唯一的，parameterType指查询时使用的参数类型， 
	resultType属性指明查询返回的结果集类型    --> 
 
	<sql id="Base_Column_List" > 
		urid,uid,rid 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_user_role 
		where urid = #{urid} 
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from base_user_role 
		where urid = #{urid} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.baseUserRole.pojo.BaseUserRole" > 
		insert into base_user_role(uid,rid) 
		values (#{uid},#{rid}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.baseUserRole.pojo.BaseUserRole" > 
		update base_user_role 
		<set > 
			<if test="uid != null and uid!='' " > 
				uid = #{uid}, 
			</if> 
			<if test="rid != null and rid!='' " > 
				rid = #{rid}, 
			</if> 
		</set> 
		where urid = #{urid} 
	</update> 
	<update id="update" parameterType="com.qhit.baseUserRole.pojo.BaseUserRole" > 
		update base_user_role 
		set  uid = #{uid}, rid = #{rid} 
		where urid = #{urid} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_user_role 
	</select> 
	<select id="findByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_user_role 
		where uid = #{uid} 
	</select> 
	<select id="findByRid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_user_role 
		where rid = #{rid} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from base_user_role where urid in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.baseUserRole.pojo.BaseUserRole" resultMap="BaseResultMap"> 
		select * from  base_user_role 
		<where > 
			<if test="uid != null and uid!='' " > 
				 and uid = #{uid} 
			</if> 
			<if test="rid != null and rid!='' " > 
				 and rid = #{rid} 
			</if> 
		</where> 
	</select> 
</mapper> 
