<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.baseRoleFunction.dao.IBaseRoleFunctionDao"> 
	<!-- 自定义结果集 --> 
	<resultMap id="BaseResultMap" type="com.qhit.baseRoleFunction.pojo.BaseRoleFunction"> 
		<id property="rmid" column="rmid" javaType="java.lang.Integer"></id> 
		<result property="rid" column="rid" javaType="java.lang.Integer"></result> 
		<result property="fid" column="fid" javaType="java.lang.Integer"></result> 
	</resultMap> 
 
	<!-- 在各种标签中，id属性必须与接口中的方法名一样，id的值必须是唯一的，parameterType指查询时使用的参数类型， 
	resultType属性指明查询返回的结果集类型    --> 
 
	<sql id="Base_Column_List" > 
		rmid,rid,fid 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_role_function 
		where rmid = #{rmid} 
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from base_role_function 
		where rmid = #{rmid} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.baseRoleFunction.pojo.BaseRoleFunction" > 
		insert into base_role_function(rid,fid) 
		values (#{rid},#{fid}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.baseRoleFunction.pojo.BaseRoleFunction" > 
		update base_role_function 
		<set > 
			<if test="rid != null and rid!='' " > 
				rid = #{rid}, 
			</if> 
			<if test="fid != null and fid!='' " > 
				fid = #{fid}, 
			</if> 
		</set> 
		where rmid = #{rmid} 
	</update> 
	<update id="update" parameterType="com.qhit.baseRoleFunction.pojo.BaseRoleFunction" > 
		update base_role_function 
		set  rid = #{rid}, fid = #{fid} 
		where rmid = #{rmid} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_role_function 
	</select> 
	<select id="findByRid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_role_function 
		where rid = #{rid} 
	</select> 
	<select id="findByFid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_role_function 
		where fid = #{fid} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from base_role_function where rmid in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.baseRoleFunction.pojo.BaseRoleFunction" resultMap="BaseResultMap"> 
		select * from  base_role_function 
		<where > 
			<if test="rid != null and rid!='' " > 
				 and rid = #{rid} 
			</if> 
			<if test="fid != null and fid!='' " > 
				 and fid = #{fid} 
			</if> 
		</where> 
	</select> 
</mapper> 
