<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.baseRole.dao.IBaseRoleDao"> 
	<!-- 自定义结果集 --> 
	<resultMap id="BaseResultMap" type="com.qhit.baseRole.pojo.BaseRole"> 
		<id property="rid" column="rid" javaType="java.lang.Integer"></id> 
		<result property="rname" column="rname" javaType="java.lang.String"></result> 
	</resultMap>
	<resultMap id="FunctionResultMap" type="com.qhit.baseFunction.pojo.BaseFunction">
		<id property="fid" column="fid" javaType="java.lang.Integer"></id>
		<result property="fname" column="fname" javaType="java.lang.String"></result>
		<result property="mid" column="mid" javaType="java.lang.Integer"></result>
		<result property="url" column="url" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 在各种标签中，id属性必须与接口中的方法名一样，id的值必须是唯一的，parameterType指查询时使用的参数类型， 
	resultType属性指明查询返回的结果集类型    --> 
 
	<sql id="Base_Column_List" > 
		rid,rname 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_role 
		where rid = #{rid} 
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from base_role 
		where rid = #{rid} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.baseRole.pojo.BaseRole" > 
		insert into base_role(rname) 
		values (#{rname}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.baseRole.pojo.BaseRole" > 
		update base_role 
		<set > 
			<if test="rname != null and rname!='' " > 
				rname = #{rname}, 
			</if> 
		</set> 
		where rid = #{rid} 
	</update> 
	<update id="update" parameterType="com.qhit.baseRole.pojo.BaseRole" > 
		update base_role 
		set  rname = #{rname} 
		where rid = #{rid} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_role 
	</select> 
	<select id="findByRname" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_role 
		where rname = #{rname} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from base_role where rid in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.baseRole.pojo.BaseRole" resultMap="BaseResultMap"> 
		select * from  base_role 
		<where > 
			<if test="rname != null and rname!='' " > 
				 and rname = #{rname} 
			</if> 
		</where> 
	</select>
	<select id="distributeLeft" parameterType="com.qhit.baseRole.pojo.BaseRole" resultMap="FunctionResultMap">
		select * from base_function bf where bf.fid not in
			(select brf.fid from base_role br join base_role_function brf on br.rid = brf.rid and br.rid = #{rid} )
	</select>
	<select id="distributeRight" parameterType="com.qhit.baseRole.pojo.BaseRole" resultMap="FunctionResultMap">
		select * from base_function bf where bf.fid  in
		(select brf.fid from base_role br join base_role_function brf on br.rid = brf.rid and br.rid = #{rid} )
	</select>
</mapper> 
