<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.baseModule.dao.IBaseModuleDao"> 
	<!-- 自定义结果集 --> 
	<resultMap id="BaseResultMap" type="com.qhit.baseModule.pojo.BaseModule"> 
		<id property="mid" column="mid" javaType="java.lang.Integer"></id> 
		<result property="mname" column="mname" javaType="java.lang.String"></result> 
	</resultMap> 
 
	<!-- 在各种标签中，id属性必须与接口中的方法名一样，id的值必须是唯一的，parameterType指查询时使用的参数类型， 
	resultType属性指明查询返回的结果集类型    --> 
 
	<sql id="Base_Column_List" > 
		mid,mname 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_module 
		where mid = #{mid} 
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from base_module 
		where mid = #{mid} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.baseModule.pojo.BaseModule" > 
		insert into base_module(mname) 
		values (#{mname}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.baseModule.pojo.BaseModule" > 
		update base_module 
		<set > 
			<if test="mname != null and mname!='' " > 
				mname = #{mname}, 
			</if> 
		</set> 
		where mid = #{mid} 
	</update> 
	<update id="update" parameterType="com.qhit.baseModule.pojo.BaseModule" > 
		update base_module 
		set  mname = #{mname} 
		where mid = #{mid} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_module 
	</select> 
	<select id="findByMname" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_module 
		where mname = #{mname} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from base_module where mid in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.baseModule.pojo.BaseModule" resultMap="BaseResultMap"> 
		select * from  base_module 
		<where > 
			<if test="mname != null and mname!='' " > 
				 and mname = #{mname} 
			</if> 
		</where> 
	</select> 
</mapper> 
